extends layout
div
    block content
      div.hero-unit(ng-controller='HomeController')
        h1= title
        p Welcome to #{title}
        p {{"Angular is working:" + 56 +4543}}
        div
            alert(ng-repeat='alert in alerts', type='alert.type', close='closeAlert($index)') {{alert.msg}}
            button.btn(ng-click='addAlert()') Test AngularUI!