script(src="/javascripts/jquery.js")
script(src="/javascripts/bootstrap.js")
script(src="/javascripts/angular.min.js")
script(src="/javascripts/ui-bootstrap-custom-0.5.0.js")
script(src="/javascripts/ui-bootstrap-custom-tpls-0.5.0.js")
script(src="/javascripts/app.js")
script(src="/javascripts/controllers/homecontroller.js")
script(src="/javascripts/controllers/header.js")
script(src="/javascripts/services/global.js")

script(src="/javascripts/init.js")