doctype 5
html(ng-app='cornerboy')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    div.navbar.navbar-fixed-top
        header.navbar.navbar-fixed-top.navbar-inverse(data-ng-include="'views/header.html'")
    div.container!= body
    block content

    include inc/footer
    include inc/scripts